ion-button.button-inline {
    height: auto;
    margin: 0;
    text-transform: none;
    font-size: 10pt;
    letter-spacing: unset;
    vertical-align: bottom;
}

ion-title.style-text {
    font-size: larger !important;
    font-weight: bold !important;
}